<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>859123377401-h1vm5u6pbgoe4bt14tg7poc1mq8ct528.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.859123377401-h1vm5u6pbgoe4bt14tg7poc1mq8ct528</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>859123377401-u5fdp351l14oliv5g2nisdq4ek50i0cf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA9vRTMVk4pilSRx8Nw1bGxhx5Y0GFBDrc</string>
	<key>GCM_SENDER_ID</key>
	<string>859123377401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beansapp.app.dev</string>
	<key>PROJECT_ID</key>
	<string>beans-dev-c4111</string>
	<key>STORAGE_BUCKET</key>
	<string>beans-dev-c4111.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859123377401:ios:a6874919f5ccab6f926e28</string>
</dict>
</plist>